@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--blue-80: hsl(213 47% 10%);
	--blue-60: hsl(208 96% 12%);
	--blue-40: hsl(202 31% 26%);
	--blue-20: hsl(202 14% 47%);
	--white: hsl(0 0% 95%);
	--pink: hsl(2, 100%, 79%);
	--yellow: hsl(50 97% 70%);

	--bg: var(--blue-80);
	--fg: var(--white);
	--accent: var(--yellow);
	--accent-2: var(--pink);

	--gap-1: 1rem;
	--gap-2: calc(var(--gap-1) * 2);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

a {
	color: var(--accent);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--accent);
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

h1 {
	color: var(--accent-2);
}

.hero {
    display: grid;
    place-items: center;
    /*min-height: 60svh;*/
    position: relative;
    overflow: hidden;
	padding: var(--gap-1);

	div {
		max-width: 600px;
		text-align: center;
		z-index: 2;
	}

	.hero-image {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 100%;
		max-width: 800px;
		object-fit: cover;
		z-index: 1;
		filter: opacity(0.5);
	}
}

@media (max-width: 600px) {
	.hero {
		/*min-height: 35svh;*/

		div {
		max-width: 550px;
			padding: var(--gap-1);
		}
	}
}

.content {
	margin: 3rem 0;
	padding-bottom: 2rem;
	border-bottom: 2px solid var(--accent);
}

.flex {
	display: flex;
	gap: var(--gap-2);
	flex-wrap: wrap;
}

.flex > div {
	flex: 1 1 300px;
}
