# New home for pnpm v10+ configuration
only-built-dependencies[]=sharp
only-built-dependencies[]=esbuild

supported-architectures-os=darwin,linux
supported-architectures-cpu=arm64,x64

overrides.@voidzero-dev/vite-plus-core=npm:empty-package@latest
overrides.@voidzero-dev/vite-plus-test=npm:empty-package@latest
overrides.vite=^6.2.0