@function --contrast-color(--color <color>) {
  /*--color: var(--brand-blue);*/

  /* AAA Logic:
     If background L > 0.54, result is Black (Light background, Dark Mode).
     If background L < 0.54, result is White (Dark background, Light Mode). */
  --contrast-lightness: oklch(from var(--color) calc((l - 0.54) * -1000) 0 0);
  --dynamic-text: var(--contrast-lightness);

  result: var(--dynamic-text);
}
