/* packages/ui/new-style/typography.css */

:root {
  --font-sans-1: "Poppins", sans-serif;
  --font-sans-2: "Inter", sans-serif;
  --font-serif: "Special Elite", system-ui;
  --font-thick: "Passion One", sans-serif;
  --font-header-sans-1: var(--font-sans-1);
  --font-header-sans-2: var(--font-sans-2);
  --font-header-serif: var(--font-serif);
  --font-size-1: clamp(2rem, 5svw, 4rem);
  --font-size-2: clamp(1.5rem, 4svw, 3rem);
  --font-size-3: clamp(1rem, 2.5svw, 2rem);
  --font-size-4: clamp(0.875rem, 2svw, 1.5rem);
}

/* --- Document-level Typography --- */
body {
  font-family: var(--font-sans-2);

  /* Fix for text flickering during transitions */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- Headings --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
  font-family: var(--font-thick);
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  color: var(--text-heading-alt);
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
  color: var(--brand-tertiary);
}

h4 {
  font-size: var(--font-size-4);
}

h1,
h2,
h3,
p,
strong,
span,
li,
li:before {
  color: var(--safe-contrast);
}

/* --- Inline Text Elements --- */
a {
  color: var(--text-link);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  text-decoration: underline;
}

/*strong {
  color: var(--brand-secondary);
}*/

label {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

input,
textarea {
  font-family: inherit;
}

details > summary {
  font-weight: bold;
  font-size: var(--font-size-4);
}

details strong {
  color: var(--brand-primary);
}

.larger-text {
  font-size: var(--font-size-3);
}
