/* packages/ui/new-style/typography.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-sans-1: "Poppins", sans-serif;
  --font-sans-2: "Inter", sans-serif;
  --font-serif: "Special Elite", system-ui;
  --font-thick: "Passion One", sans-serif;
  --font-header-sans-1: var(--font-sans-1);
  --font-header-sans-2: var(--font-sans-2);
  --font-header-serif: var(--font-serif);
  --font-size-1: clamp(2rem, 5svw, 4rem);
  --font-size-2: clamp(1.5rem, 4svw, 3rem);
  --font-size-3: clamp(1rem, 2.5svw, 2rem);
  --font-size-4: clamp(0.875rem, 2svw, 1.5rem);
}

/* --- Document-level Typography --- */
body {
  font-family: var(--font-sans-2);

  /* Fix for text flickering during transitions */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- Headings --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
  font-family: var(--font-thick);
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  color: var(--text-heading-alt);
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
  color: var(--brand-tertiary);
}

h4 {
  font-size: var(--font-size-4);
}

/* --- Inline Text Elements --- */
a {
  color: var(--text-link);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  text-decoration: underline;
}

strong {
  color: var(--brand-secondary);
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

input,
textarea {
  font-family: inherit;
}

details > summary {
  font-weight: bold;
  font-size: var(--font-size-4);
}

details strong {
  color: var(--brand-primary);
}
